.container {
    padding-top: 100px;
}

a {
    color: #f3f3f3;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

nav {
    position: fixed;
    width: 100%;
    padding: 16px;
    background: #fff;
    user-select: none;
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 16px;
        list-style: none;

        li > a {
            background: #0dcaf0;
            padding: 8px 16px;
            border-radius: 2px;
        }
    }
}