{% extends "template.html" %}
{% block content %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Console</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <td>{{ game.name }}</td>
        <td>{{ game.category }}</td>
        <td>{{ game.console }}</td>
        <td id="buttons-games">
            <a href="{{ url_for('editGame', id=game.id) }}">Editar</a>
            <a href="{{ url_for('deleteGame', id=game.id) }}">Deletar</a>
        </td>
    </tr>


    {% endfor %}
    </tbody>
</table>
{% endblock %}